<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>banner</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<integer>74</integer>
	</dict>
	<key>header1</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<integer>34</integer>
	</dict>
	<key>header1Bold</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>34</integer>
	</dict>
	<key>subHeader1</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<integer>24</integer>
	</dict>
	<key>subHeader1Bold</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>24</integer>
	</dict>
	<key>footer1</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<integer>20</integer>
	</dict>
	<key>footer1Bold</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>20</integer>
	</dict>
	<key>tableCellTextLabel1</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<integer>20</integer>
	</dict>
	<key>tableCellBiggerText</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<integer>44</integer>
	</dict>
	<key>tableCellTextLabel1Bold</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<integer>20</integer>
	</dict>
</dict>
</plist>
